@{
    ViewData["Title"] = "Launches Page";
}

<div class="text-center">
    <h2>Upcoming Launches</h2>

    <button id="exportButton" class="btn btn btn-danger float-right">
        Export to PDF
    </button>
    <table class="table table-striped table-hover" id="launchesTable">
        <thead>
            <tr>
                <th scope="col">FlightNumber</th>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model is null)
                {
                    <tr>
                        <td colspan="3">
                            No upcoming launches
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.FlightNumber</th>
                            <td>@item.Name</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $("#exportButton").click(function () {
            var dataSource = new shield.DataSource.create({
                data: "#launchesTable",
                schema: {
                    type: "table",
                    fields: {
                        FlightNumber: { type: String },
                        Name: { type: String },
                        Date: { type: Date }
                    }
                }
            });

            dataSource.read().then(function (data) {
                var pdf = new shield.exp.PDFDocument({
                    author: "PrepBootstrap",
                    created: new Date()
                });

                pdf.addPage("a4", "portrait");

                pdf.table(
                    50,
                    50,
                    data,
                    [
                        { field: "FlightNumber", title: "Flight Number", width: 100 },
                        { field: "Name", title: "Name", width: 200 },
                        { field: "Date", title: "Date/time", width: 250 }
                    ],
                    {
                        margins: {
                            top: 50,
                            left: 50
                        }
                    }
                );

                pdf.saveAs({
                    fileName: "SpaceXUpcomingLaunchesPlan"
                });
            });
        });
    });
</script>